---
import Layout from "@/layouts/Layout.astro";
import MegaHeader from "@/components/MegaHeader";
import HeroSection from "@/components/HeroSection";
import StageDivider from "@/components/StageDivider";
import StagedSections from "@/components/StagedSections";
import Footer from "@/components/Footer";
---

<Layout>
  <MegaHeader client:only="react" />

  <main id="main-content" class="min-h-screen">
    <HeroSection client:only="react" />
    <StageDivider />
    <StagedSections client:only="react" />
  </main>
  <Footer client:only="react" />
</Layout>
